{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">История логов</h2>

  {% if logs %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Время</th>
          <th>Действие</th>
          <th>Хост</th>
          <th>Статус</th>
          <th>Действия</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
        <tr>
          <td>{{ log.id }}</td>
          <td>{{ log.timestamp }}</td>
          <td>{{ log.action }}</td>
          <td>{{ log.host }}</td>
          <td>
            {% if log.status == "ok" %}
              ✅ Успех
            {% else %}
              ❌ Ошибка
            {% endif %}
          </td>
          <td>
            <a href="{{ url_for('main.history_detail', log_id=log.id) }}" class="btn btn-sm btn-outline-primary">Детали</a>
            <form action="{{ url_for('main.del_log_history', log_id=log.id) }}" method="post" style="display:inline;">
              <button type="submit" class="btn btn-sm btn-outline-danger">Удалить</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

<div class="d-flex gap-2 mt-3">
  <form action="{{ url_for('main.delete_history') }}" method="post">
    <button type="submit" class="btn btn-danger">
      🗑️ Удалить всю историю
    </button>
  </form>

  <a href="{{ url_for('main.export_json') }}" class="btn btn-outline-success">
    ⬇️ Export JSON
  </a>
</div>



  {% else %}
    <p>История пуста.</p>
  {% endif %}
</div>
{% endblock %}
