{% extends "base.html" %}
{% block title %}Детали лога{% endblock %}

{% block content %}
  <h2>Детали лога #{{ log[0] }}</h2>
  <ul class="list-group">
    <li class="list-group-item"><strong>Время:</strong> {{ log[1] }}</li>
    <li class="list-group-item"><strong>Действие:</strong> {{ log[2] }}</li>
    <li class="list-group-item"><strong>Хост:</strong> {{ log[3] }}</li>
    <li class="list-group-item"><strong>Параметры:</strong> {{ log[4] }}</li>
    <li class="list-group-item"><strong>Статус:</strong> {{ log[5] }}</li>
    <li class="list-group-item"><strong>Вывод:</strong><br><pre>{{ log[6] }}</pre></li>
  </ul>
  <a href="{{ url_for('history') }}" class="btn btn-secondary mt-3">Назад</a>
{% endblock %}